%h1
  Add new author identity

%p
  = "Please confirm that you are #{@author} by solving the captcha."

- form_tag(author_identities_path) do
  %div
    = raw recaptcha_tags
    %br
    = hidden_field_tag "author_id", @author.id
    = submit_tag "Submit"
