<% @title = "Log in" %>

<% unless params[:show_rpx] == "false" %>
<%= rpx_embed_code %>

<p><strong>or log in with an existing Crantastic account</strong></p>
<% end %>

<% form_tag session_path, :id => "new_session" do -%>
<%= hidden_field_tag('return_to', params[:return_to]) if params[:return_to] %>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login', nil, :class => "required" %></p>

<p><label for="password">Password</label>
(<%= link_to("forgot?", new_password_reset_path) %>)<br/>
<%= password_field_tag 'password', nil, :class => "required" %></p>

<p><%= submit_tag 'Log in', :id => "login" %></p>
<% end -%>

<p><small>Don't have an account? <%= link_to "Sign up!", "/signup?show_rpx=false" %></small></p>

<script>
  jQuery(document).ready(function(){
    jQuery("form#new_session").validate();
  });
</script>
