%h1= h(@author.name)
= image_tag @author.gravatar_url, :style => "float: right;"
= mail_to(@author.email) if logged_in?

%div.button.float-r.clear(style="width: 72px")
  - if logged_in? && current_user.authors.include?(@author)
    %div.red
      This is you!
  - elsif @author.user.nil?
    - form_tag(new_author_identity_path, :method => :get) do
      %div
        = hidden_field_tag "author_id", @author.id
        %input.red(type="submit" value="This is me!")
  - else
    = link_to "User profile", user_url(@author.user)

%h2
  Packages

%ul
  - for version in @author.latest_versions
    %li
      = [package_version(version.package, version), version.title, ""].join(". ")
      = "(#{time_ago_in_words version.date} ago)" unless version.date.blank?

%h2
  Latest activity
- if @events.length == 0
  %p
    No recent activity for this author.
- else
  = render :partial => "timeline_events/events", :locals => { :events => @events }
