<h1><%=h @author.name %></h1>
<%= image_tag @author.gravatar_url, :style => "float: right;" %>

<% if logged_in? -%>
  <%= mail_to @author.email %>
<% end -%>

<h2>Packages</h2>

<ul>
<% for version in @author.latest_versions -%>
  <li><%= package_version version.package, version %>. <%= version.title %>.
  <% unless version.date.blank? -%>(<%= time_ago_in_words version.date %> ago)<% end -%>
  </li>
<% end -%>
</ul>
