<% form_for(@user, :live_validations => true) do |f| -%>
<p><label for="user_login">User name</label>
<%= error_message_for @user, :login %><br/>
<%= f.text_field :login %></p>

<p><label for="user_email">Email</label>
<%= error_message_for @user, :email %><br/>
<%= f.text_field :email %></p>

<p><label for="user_password">Password</label>
<%= error_message_for @user, :password  %><br/>
<%= f.password_field :password %></p>

<p><label for="user_password_confirmation">Confirm password</label>
<%= error_message_for @user, :password_confirmation  %><br/>
<%= f.password_field :password_confirmation %></p>

<% unless @user.new_record? -%>

<p><label for="user_homepage">Homepage</label>
<%= error_message_for @user, :homepage %><br/>
<%= f.text_field :homepage,
                 :value => @user.homepage.blank? ? "http://" : @user.homepage %>
</p>

<p><label for="user_profile">Profile</label>
  <small>(<%= link_to "Markdown", "http://daringfireball.net/projects/markdown/" %>
    enabled)</small>
<%= error_message_for @user, :profile %><br/>
<%= f.text_area :profile %></p>

<% end -%>

<p><label for="user_remember">Remember me</label>
<%= error_message_for @user, :remember  %><br/>
<%= f.check_box :remember %>
<em>Automatically login in the future; not for shared computers!</em></p>

<p><%= f.submit(@user.new_record? ? 'Sign up' : 'Save details') %></p>
<% end -%>
