<% # We only enable live validations for user signups, since the plugin
   # fails on edits. (complains about values already being taken, etc) %>

<%=  error_messages_for 'user' %>

<% form_for(@user, :live_validations => (@user.new_record? ? true : false)) do |f| -%>
<p><label for="user_login">User name</label>
<%= error_message_for @user, :login %><br/>
<%= f.text_field :login %></p>

<p><label for="user_email">Email</label>
<%= error_message_for @user, :email %><br/>
<%= f.text_field :email %></p>

<p><label for="user_password">Password</label>
<%= error_message_for @user, :password  %><br/>
<%= f.password_field :password %></p>

<p><label for="user_password_confirmation">Confirm password</label>
<%= error_message_for @user, :password_confirmation  %><br/>
<%= f.password_field :password_confirmation %></p>

<% unless @user.new_record? -%>

<p><label for="user_homepage">Homepage</label>
<%= error_message_for @user, :homepage %><br/>
<%= f.text_field :homepage,
                 :value => @user.homepage.blank? ? "http://" : @user.homepage %>
</p>

<p><label for="user_profile">Profile</label>
  <small>(<%= link_to "Markdown", "http://daringfireball.net/projects/markdown/" %>
    enabled)</small>
<%= error_message_for @user, :profile %><br/>
<%= f.text_area :profile %></p>

<% end -%>

<p><label for="user_remember">Remember me</label>
<%= error_message_for @user, :remember  %><br/>
<%= f.check_box :remember %>
<em>Automatically login in the future; not for shared computers!</em></p>

<p><label for="user_tos">My contributed texts (package reviews, etc) will be
    available under Creative Commons Attribution 3.0 except private data
    (password, email address)</label>
<%= error_message_for @user, :tos  %><br/>
<%= f.check_box :tos %>
<em>You must accept the license terms.</em></p>

<p><%= f.submit(@user.new_record? ? 'Sign up' : 'Save details') %></p>
<% end -%>
