<% @title = "The user " + @user.login %>

<h1>
  <%= @user.login %>
  <% if @user.homepage.not_blank? && @user.homepage.strip != "http://" %>
    <span class="version">(<%= link_to @user.homepage, @user.homepage %>)</span>
  <% end %>
</h1>

<div id="gravatar-box" style="float: right; width: 135px;">
  <%= image_tag @user.gravatar_url, :class => "float-r" %>

  <% if this_is_me? -%>
  <p class="clear small right">Not seeing your photo?<br />
    Set up an avatar by visiting
    <%= link_to "gravatar.com", "http://gravatar.com/" %> (it's free!).</p>
  <% end -%>
</div>

<% if this_is_me? -%>
<p>(That's you! <%= link_to 'Edit your details', edit_user_path(@user) %>)</p>
<% else %>
<br />
<% end -%>

<% unless @user.profile_html.blank? -%>
<h2>Profile</h2>
<%= @user.profile_html %>
<% end -%>

<h2>Latest activity</h2>
<% if @events.length == 0 -%>
<p><%= @user.login %> hasn't done anything recently.</p>
<% else %>
<%= render :partial => "timeline_events/events",
           :locals => { :events => @events } %>
<% end %>

<h2>Reviews</h2>
<% if @user.reviews.length == 0 -%>
<p><%= @user.login %> hasn't written any reviews yet.</p>
<% else -%>
<p><%= @user.login %> has written <%= pluralize @user.reviews.length, "review"%>:</p>

<ul>
<% for review in @user.reviews -%>
<li>
  <%= link_to review.user.login, review.user %>
  <% if review.rating -%>
  gave <%= package_version(review.package, review.version) %> a <%=h review.rating %>, and
  <% else %>
  did not rate <%= package_version(review.package, review.version) %>, but
  <% end -%>
  says "<%= link_to truncate(review.description, :length => 50), review %>"
</li>
<% end -%>
</ul>
<% end -%>

<h2>Tags</h2>
<% if @user.taggings.length == 0 -%>
<p><%= @user.login %> hasn't tagged any packages yet.</p>
<% else -%>

<p><%= @user.login %> has tagged <%= pluralize @user.taggings.length, "package"%>:</p>
<ul>
<% for tag, taggings in @user.taggings.group_by(&:tag) -%>
  <li>with <%= link_to tag, tag_url(tag) %>:
<%= taggings.map{|t| link_to t.package.name, t.package}.join(", ") %></li>
<% end -%>
</ul>
<% end -%>
