<% @title = @tag.name %>
<h1><%= @title %></h1>
<% if @tag.full_name %>
  <h3 style="margin: 0 0 4px 0;"><%= @tag.full_name %></h3>
<% end -%>

<% if @tag.description -%>
  <p style="margin: 0 0 10px 0;"><%= auto_link @tag.description %></p>
<% end -%>

<ul class="cloud">
<li><strong>Packages:</strong></li>
<% for package in @tag.packages.uniq -%>
  <li><%= link_to package.name, package %></li>
<% end -%>
</ul>

<h2>Latest activity</h2>
<% if @events.length == 0 -%>
<p>No recent activity for packages tagged with <%= @tag.name %>.</p>
<% else %>
<%= render :partial => "timeline_events/events",
           :locals => { :events => @events } %>
<% end %>
