<p><%= h @version.title %>.</p>
<p><%= @version.urls.map{|url| link_to url, url}.join("<br />") %></p>

<p><%= auto_link @version.description %></p>

<p>
  <% unless @version.maintainer.blank? %>
    <strong>Maintainer</strong>:
    <%= link_to @version.maintainer.name, @version.maintainer %><br />
  <% end %>
  <strong>Author(s)</strong>: <%= auto_link(h(@version.author)) %>
</p>
<p><strong>License</strong>: <%= h @version.license %></p>

<p>
  <strong>Uses</strong>: <%= version_uses %>
</p>

<% unless @version.date.blank? -%>
  <p>Released <%= time_ago_in_words @version.date %> ago.</p>
<% end -%>

<hr />

<% if false %>
<ul>
  <li><%= textilize @version.readme %></li>
  <li><%= textilize @version.changelog %></li>
  <li><%= textilize @version.news %></li>
</ul>
<% end %>
