%h1= "Cran updates #{object.start_date.to_time.strftime("%d %b")}&#150;#{object.end_date.to_time.strftime("%d %b")}"

= packages(object.packages)
= versions(object.versions)
= reviews(object.reviews)
