<% if false %>
  User: <%= @review.user.login %>
<% end -%>
<%= error_messages_for :review, :object => @review -%>

<% form_for(@review) do |f| %>
  <p>
    <b>Rating out of 5</b><br />
    <%= select :review, :rating, 1..5 %>
  </p>

  <p>
    <b>A brief summary</b><br />
    <%= f.text_field :title, :maxlength => 100 %>
  </p>

  <p>
    <b>Review</b><br />
    <%= f.text_area :review, :rows => 10 %>
  </p>

  <%= f.hidden_field :package_id %>

  <p>
    <%= f.submit @review.new_record? ? "Enter this review" : "Update" %>
  </p>
<% end %>
