<%
@title = (parent_object.nil?) ? "Recent reviews" : "Reviews for #{parent_object}"
@plural = true
%>

<h1><%= @title -%></h1>
<% unless parent_object %>
<p>crantastic users have written <%= pluralize Review.count, "review" %>.  These are the most recent reviews:</p>
<% end %>

<ul>
<% for review in @reviews %>
  <li><%= link_to review.user.login, review.user  %> gave
    <%= package_version(review.package, review.version) %>
    a <%=h review.rating %>, and says
    "<%= link_to(truncate(review.description, :length => 50),
                 package_review_path(review.package, review)) %>"
  </li>
<% end %>
</ul>
