<h1>
  A review of <%= package_version(@review.package, @review.version) %>
  <span class="byline">by <%= link_to @review.user.login, @review.user %></span>
</h1>

<% if @review.rating %><p class="rating"><%=h @review.rating %></p><% end %>

<p><strong><%=h @review.title %></strong></p>
<%= markdown(@review.review) %>

<% if logged_in? && current_user.may_edit?(@review) -%>
<%= link_to 'Edit', edit_package_review_path(@review.package, @review) %>
<% end -%>
