%h1= "A review of #{package_version(@review.package, @review.version)}"
%span.byline= "by #{link_to @review.user.login, @review.user}"

- if @review.rating
  %p.rating= h @review.rating

%p
  %strong= h @review.title
= markdown(@review.review)

- if logged_in? && current_user.may_edit?(@review)
  = link_to 'Edit', edit_package_review_path(@review.package, @review)
