%h1= "A review of #{package_version(@review.package, @review.version)}".html_safe
%span.byline= "by #{link_to @review.user.login, @review.user}".html_safe

- if @review.rating
  %p.rating= @review.rating

%p
  %strong= h @review.title
= markdown(@review.review)

- if @review.comments.count > 0
  %h2
    Comments on this review
  %ul.comments
    - for comment in @review.comments
      - @klass = comment.user.author_of?(@review.package) ? "author" : "regular"
      %li.comment{:class => "#{@klass}"}
        %strong= comment.title
        = markdown(comment.comment)
        %em.byline= "- #{link_to comment.user, comment.user} (#{comment.created_at})"

- if logged_in?
  %p= link_to 'Comment on this review', new_review_review_comment_path(@review)
  - if current_user.may_edit?(@review)
    = link_to 'Edit', edit_package_review_path(@review.package, @review)
