%h1= "A review of #{package_version(@review.package, @review.version)}"
%span.byline= "by #{link_to @review.user.login, @review.user}"

- if @review.rating
  %p.rating= @review.rating

%p
  %strong= h @review.title
= markdown(@review.review)

- if @review.comments.count > 0
  %h2
    Comments to this review by package authors
  %ul
    - for comment in @review.comments
      %li
        %strong= comment.title
        %p
          comment.comment
          %br
          %small
            %em= "-#{link_to comment.user, comment.user} (#{comment.created_at})"


- if logged_in?
  - if current_user.author_of?(@review.package)
    = link_to 'You are an author of this package. Comment on the review?', new_review_review_comment_path(@review)
  - elsif current_user.may_edit?(@review)
    = link_to 'Edit', edit_package_review_path(@review.package, @review)
