<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @title %>.  <%= @plural.nil? ? "It's" : "They're" %> crantastic!</title>
  <%= stylesheet_link_tag 'http://yui.yahooapis.com/2.4.0/build/reset-fonts-grids/reset-fonts-grids.css', :media => "all" %>
  <%= stylesheet_link_tag 'http://yui.yahooapis.com/2.4.0/build/base/base-min.css', :media => "all" %>
  <%= stylesheet_link_tag 'style', :media => "all" %>
  <%= auto_discovery_link_tag :atom, @atom if @atom %>
</head>
<body>

<div id="doc" class="yui-t6">
<div id="bd">

<div id="yui-main"><div class="yui-b"><div class="wrap">

  <% unless flash[:notice].blank? %>
  <div class="flash"><%= flash[:notice] %></div>
  <% end -%>

  <%= yield  %>
  
    
</div></div></div> 
<div class="yui-b">
  <div id="sidebar">
  <h1 class="title"><a href="/">crantastic!</a></h1>

  <div class="box">
    <ul>
      <li><%= link_to "Packages", packages_path %></li>
    </ul>
  </div>
  
  <% unless logged_in? -%>
  <div class="box">
    <% form_tag session_path do -%>
    <p><label for="login">User name</label>:
    <%= text_field_tag 'login' %></p>
    <p><label for="password">Password</label>:
    <%= password_field_tag 'password' %></p>

    <p><%= submit_tag 'Log in' %> or <%= link_to "Sign up!", signup_path%></p>
    <% end -%>
  <% end -%>
  </div>
  <div class="box">
    Search
  </div>
  
</div></div>
</div>

<div id="ft">
  <p>Brought to you by <a href="http://had.co.nz">Hadley Wickham</a>.  Like it?  Hate it? Let me know at <a href="mailto:cranatic@gmail.com">cranatic@gmail.com</a>.</p>
</div>

</body>
</html>
