<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= "#{@title}. " unless @title.blank? %><%= @plural.nil? ? "It's" : "They're" %> crantastic!</title>
  <%= stylesheet_link_tag 'http://yui.yahooapis.com/2.4.0/build/reset-fonts-grids/reset-fonts-grids.css', :media => "all" %>
  <%= stylesheet_link_tag 'screen', :media => "screen, projection" %>
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <%= stylesheet_link_tag 'style', :media => "all" %>
  <%= stylesheet_link_tag 'jquery.rating', :media => "screen, projection" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" -%>
  <%= javascript_include_tag 'jquery.MetaData', 'jquery.rating.pack', 'jquery.validate.pack' -%>
  <%= javascript_include_tag :defaults -%>
  <%= auto_discovery_link_tag :atom, @atom if @atom %>
  <meta name="verify-v1" content="YtXicWGGldm5yUfU718DJMAreQ9gf2gtsSCe5VysH10=" />
</head>
<body>

<div id="doc" class="yui-t6">
<div id="bd">

<div id="yui-main"><div class="yui-b"><div class="wrap">

  <% unless flash[:notice].blank? %>
  <div class="flash"><%= flash[:notice] %></div>
  <% end -%>

  <%= yield  %>


</div></div></div>
<div class="yui-b">
  <div id="sidebar">
  <h1 class="title"><a href="/">crantastic!</a></h1>

  <div class="box">
    <ul>
      <li><%= link_to "Packages", packages_path %></li>
      <!-- <li><%= link_to "Users", users_path %></li> -->
      <li><%= link_to "Authors", authors_path %></li>
      <li><%= link_to "Reviews", reviews_path %></li>
      <li><%= link_to "Tags", tags_path %></li>
      <% if logged_in? -%>
      <li><%= link_to "My profile", current_user %></li>
      <li><%= link_to "Log out", logout_path %></li>
      <% end -%>
    </ul>
  </div>

  <div class="box">
    <% form_tag search_path, :method => 'GET' do -%>
    <p style='margin:0'><%= text_field_tag 'q' %>

    <%= submit_tag 'Search' %></p>
    <% end -%>
  </div>

  <% unless logged_in? -%>
  <div class="box">
    <% form_tag new_session_path, :method => 'GET' do -%>
    <p style='margin:0'>
      <%= submit_tag 'Log in' %>&nbsp; or
      &nbsp;<%= link_to "Sign up!", signup_path%></p>
    <% end -%>
  <% end -%>
  </div>

</div></div>
<div id="ft">
  <p>Brought to you by <a href="http://had.co.nz">Hadley Wickham</a>
  and <a href="http://chrononaut.net/">Bj&oslash;rn M&aelig;land</a>.
  Like it? Hate it? Let me know at
  <a href="mailto:cranatic@gmail.com">cranatic@gmail.com</a>.
  <%= link_to "About crantastic", about_url %>.
</div>
</div>

<%= render :partial => "layouts/uservoice" -%>
<%= render :partial => "layouts/google_analytics" -%>
</body>
</html>
