<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= title %></title>
  <link rel="shortcut icon" href="/favicon.ico" />

  <%= stylesheet_link_tag 'application', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'jquery.rating', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'facebox', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'print', :media => "print" %>
  <link href="/javascripts/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="/javascripts/prettify/prettify.js"></script>
  <!--[lt IE 8]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" -%>
  <%= javascript_include_tag 'jquery.livequery', 'jquery.MetaData', 'jquery.delayedObserver',
                             'jquery.rating.pack', 'jquery.validate.pack', 'facebox', 'application' -%>
  <%= javascript_tag "window.AUTH_TOKEN = '#{form_authenticity_token}';" %>

  <%= auto_discovery_link_tag :atom, @atom[:url], :title => @atom[:title] if
      @atom && @atom[:title] != "Latest activity on crantastic" %>

  <%= auto_discovery_link_tag :atom, "http://feeds.feedburner.com/LatestActivityOnCrantastic",
      :title => "Latest activity on crantastic" %>
  <%= auto_discovery_link_tag :atom, "http://feeds.feedburner.com/NewPackageVersionsOnCrantastic",
      :title => "New package versions on crantastic" %>
  <%= auto_discovery_link_tag :atom, "http://feeds.feedburner.com/NewPackagesOnCrantastic",
      :title => "New packages on crantastic" %>
  <meta name="verify-v1" content="YtXicWGGldm5yUfU718DJMAreQ9gf2gtsSCe5VysH10=" />
</head>
<body>

<div id="container">
  <div id="main">
    <% unless flash[:notice].blank? %>
      <div class="flash"><%= flash[:notice] %></div>
    <% end -%>

    <%= yield  %>
  </div>

  <div id="sidebar">
  <h1 class="title"><a href="/">crantastic!</a></h1>

  <div class="box">
    <ul>
      <li><%= link_to "Packages", packages_path %></li>
      <li><%= link_to "Authors", authors_path %></li>
      <li><%= link_to "Reviews", reviews_path %></li>
      <li><%= link_to "Tags", tags_path %></li>
      <% if logged_in? -%>
      <li><%= link_to "My profile", current_user %></li>
      <li><%= link_to "Log out", logout_path %></li>
      <% end -%>
    </ul>
  </div>

  <div id="search-box" class="box">
    <% form_tag search_path, :method => 'GET' do -%>
    <div style="margin: 0 0 0 0.1em">
      <table style="margin: 0; padding: 0">
        <tr style="margin: 0; padding: 0">
          <td style="margin: 0; padding: 0">
            <%= text_field_tag 'q', '', :style => "width: 175px; height: 17px; padding:2px" %>
          </td>
          <td style="margin: 0; padding: 0">
            <input type="submit" value="Search" style="padding:0; height: 25px; width: 60px" />
          </td>
        </tr>
      </table>
    </div>
    <% end -%>
  </div>

  <% unless logged_in? -%>
  <div class="box">
    <ul>
      <li><a id="login-or-signup" href="/login">Log in / Sign up</a></li>
    </ul>
  </div>
  <% end -%>

  <div id="follow"><ul>
    <li>Follow us on <a href="http://twitter.com/cranatic">twitter</a>&nbsp;
    <a href="http://twitter.com/cranatic"><img src="/images/twitter_16.png" width="16" height = "16" /></a></li>
    
    <%- if @atom -%>
    <li>Or via your <a href="<%= @atom[:url] %>">feed reader</a>&nbsp;
    <a href="<%= @atom[:url] %>"><img src="/images/rss_16.png" width="16" height = "16" /></a></li>
    <%- end -%>
    
    <li>Or even with <%= link_to "email", email_notifications_url %>&nbsp;
    <a href="<%= url_for email_notifications_url %>"><img src="/images/email_16.png" width="16" height = "16" /></a>
    </li>
  </ul></div>

</div>

<div id="footer">
  <p>Brought to you by <a href="http://had.co.nz">Hadley Wickham</a>
  and <a href="http://chrononaut.net/">Bj&oslash;rn M&aelig;land</a>.
  Like it? Hate it? Let us know at
  <a href="mailto:cranatic@gmail.com">cranatic@gmail.com</a>.
  <%= link_to "About crantastic", about_url %>.</p>
</div>
</div>

<% unless RAILS_ENV == "development" %>
<%= render :partial => "layouts/uservoice" -%>
<%= render :partial => "layouts/google_analytics" -%>
<% end %>
</body>
</html>
